<div class="container content">
    <div class="row">
        <h1>
            {{title}}
        </h1>
    </div>

    <app-lista-destinos></app-lista-destinos>
</div>
<!-- <h2>Hero are some links to help you start:</h2>
<ul>
    <li>
        <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
    </li>
    <li>
        <h2><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Document</a></h2>
    </li>
    <li>
        <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
    </li>
</ul> -->